@import "./base/index";
@import "./components/index";

body {
    @extend .poppins;
    background: $background;
    // background-color: red;
    margin: auto;
    width: 90vw;
    margin-top: 32px;
    margin-bottom: 40px;

    @include mobile {
        width: 92vw;
        margin-top: 20px;
    }
}

.brand {
    font-size: 24px;
    font-style: normal;
    line-height: 36px;
    letter-spacing: 0em;
    margin-bottom: 25px;
}

main {
    display: flex;
    // background-color: red;
    gap: 32px;

    @include mobile {
        // background-color: red;
        flex-direction: column;
    }
}

.left-column {
    width: 28%;
    @include mobile {
        // background-color: green;
        width: 100%;
    }
    // background-color: red !important;
}
