@import "./base/index";
@import "./components/index";

:root {
    font-size: 18px;

    @include mobile {
        font-size: 16px;
    }
}
* {
    box-sizing: border-box;
}

header {
    margin-bottom: 32px;
}

.top-section-container {
    border-radius: 10px;
    position: relative;
    // background-color: red;
    width: 100%;
    height: 80%;
    padding: 20px 0;
    background-image: url("./../assets/backgroundImg.png");
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;

    @include mobile {
        padding: 60px 0;
    }
}

#search-bar-container {
    position: relative;
    height: 48px;
    --input-horizontal-padding: 40px;
    --input-soft-padding: 4px;
    width: 40%;
    box-shadow: 0px 2px 8px 0px rgba(#000000, 0.1);

    @include mobile {
        width: 90%;
    }

    input,
    button {
        border: none;
        border-radius: 5px;
    }

    #search-bar {
        @extend .roboto-400;
        font-size: 0.9em;
        width: 100%;
        height: 100%;
        padding: 0 var(--input-horizontal-padding);

        &::placeholder {
            color: #b9bdcf;
            text-overflow: ellipsis;
        }
    }
    #search-button {
        @extend .roboto-500;
        font-size: 0.92em;
        position: absolute;
        background: #1e86ff;
        color: white;
        padding: 0 18px;
        top: var(--input-soft-padding);
        bottom: var(--input-soft-padding);
        right: var(--input-soft-padding);
    }
}

#sort-options {
    // background-color: red;

    #location-search-bar {
        width: 100%;
        display: inline-flex;
        box-shadow: 0px 2px 4px 0px rgba(#000000, 0.05);
        margin-bottom: 24px;

        input {
            @extend .roboto-400;
            flex: 1;
            padding: 12px 12px 12px 40px;
            border: none;
            border-radius: 5px;
            // border: 0;
            box-shadow: 0px 2px 4px 0px rgba(#000000, 0.05);
            // background-color: red;

            &::placeholder {
                color: #b9bdcf;
            }

            @include mobile {
                padding: 16px 12px 16px 40px;
            }
        }
    }

    #location-results {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }
}

#results-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    overflow-x: hidden;
}
