.poppins, .poppins-300, .poppins-500, .poppins-700, h4, body {
  font-family: "Poppins";
}

.roboto, .roboto-400, .job-card .job-position, .roboto-500, .job-card .other-info, .roboto-700, .job-card .company-name, .job-card .job-time {
  font-family: "Roboto";
}

.uppercase, h4 {
  text-transform: uppercase;
}

.poppins-300 {
  font-weight: 300;
}

.poppins-500 {
  font-weight: 500;
}

.poppins-700, h4 {
  font-weight: 700;
}

.roboto-400, .job-card .job-position {
  font-weight: 400;
}

.roboto-500, .job-card .other-info {
  font-weight: 500;
}

.roboto-700, .job-card .company-name, .job-card .job-time {
  font-weight: 700;
}

.poppins, .poppins-300, .poppins-500, .poppins-700, h4, body {
  font-family: "Poppins";
}

.roboto, .roboto-400, .job-card .job-position, .roboto-500, .job-card .other-info, .roboto-700, .job-card .company-name, .job-card .job-time {
  font-family: "Roboto";
}

.uppercase, h4 {
  text-transform: uppercase;
}

.poppins-300 {
  font-weight: 300;
}

.poppins-500 {
  font-weight: 500;
}

.poppins-700, h4 {
  font-weight: 700;
}

.roboto-400, .job-card .job-position {
  font-weight: 400;
}

.roboto-500, .job-card .other-info {
  font-weight: 500;
}

.roboto-700, .job-card .company-name, .job-card .job-time {
  font-weight: 700;
}

h4 {
  color: #b9bdcf;
  font-size: 1em;
}

.check-input-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.check-input-container input {
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin: 0;
  margin-right: 6px;
}

.check-input-container label {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.poppins, .poppins-300, .poppins-500, .poppins-700, h4, body {
  font-family: "Poppins";
}

.roboto, .roboto-400, .job-card .job-position, .roboto-500, .job-card .other-info, .roboto-700, .job-card .company-name, .job-card .job-time {
  font-family: "Roboto";
}

.uppercase, h4 {
  text-transform: uppercase;
}

.poppins-300 {
  font-weight: 300;
}

.poppins-500 {
  font-weight: 500;
}

.poppins-700, h4 {
  font-weight: 700;
}

.roboto-400, .job-card .job-position {
  font-weight: 400;
}

.roboto-500, .job-card .other-info {
  font-weight: 500;
}

.roboto-700, .job-card .company-name, .job-card .job-time {
  font-weight: 700;
}

.poppins, .poppins-300, .poppins-500, .poppins-700, h4, body {
  font-family: "Poppins";
}

.roboto, .roboto-400, .job-card .job-position, .roboto-500, .job-card .other-info, .roboto-700, .job-card .company-name, .job-card .job-time {
  font-family: "Roboto";
}

.uppercase, h4 {
  text-transform: uppercase;
}

.poppins-300 {
  font-weight: 300;
}

.poppins-500 {
  font-weight: 500;
}

.poppins-700, h4 {
  font-weight: 700;
}

.roboto-400, .job-card .job-position {
  font-weight: 400;
}

.roboto-500, .job-card .other-info {
  font-weight: 500;
}

.roboto-700, .job-card .company-name, .job-card .job-time {
  font-weight: 700;
}

h4 {
  color: #b9bdcf;
  font-size: 1em;
}

.material-icon, .job-card .other-info .company-location::before, .job-card .other-info .job-posted-before::before {
  font-family: "Material Icons";
  font-size: 24px;
  font-weight: 400;
}

.job-card {
  display: -ms-grid;
  display: grid;
}

.job-card .company-logo {
  width: 90px;
  height: 90px;
}

.job-card .other-info .company-location::before {
  content: "public";
}

.job-card .other-info .job-posted-before::before {
  content: "access_time";
}

:root {
  font-size: 16px;
}

body {
  background: #f6f7fb;
  margin: auto;
  margin-top: 32px;
  width: 90vw;
}

.brand {
  font-size: 24px;
  font-style: normal;
  line-height: 36px;
  letter-spacing: 0em;
}

.bg-image {
  margin: 32px 0;
  width: 100%;
}
