@import "./../../styles/base/index";
@import "./../../styles/components/index";

.left-column {
    width: 40%;
}
#go-back-link {
    display: inline-flex;
    align-content: center;
}

.how-to-apply {
    max-width: 320px;

    @include mobile {
        font-size: 0.9em;
    }
}

#top-section {
    display: flex;
    gap: 16px;
    align-items: center;
    // background-color: red;

    #job-position {
        margin-bottom: 10px;
        color: #334680;
        margin-top: 10px;
    }

    .job-type {
        font-size: 0.8em;
    }
    @include mobile {
        margin-bottom: 16px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        #job-position {
            line-height: 1em;
            margin-bottom: 0;
        }
        .job-type {
            align-self: flex-start;
        }
    }
}

.company-info {
    margin: 32px 0;
    // TK
    // background-color: red;
    width: fit-content;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
        "img company-name"
        "img company-location";
    column-gap: 12px;

    .company-logo {
        border-radius: 4px;
        $width: 64px;
        width: $width;
        height: $width;
    }

    .company-name {
        @extend .roboto-700;
        font-size: 1.2em;
        line-height: 21px;
        letter-spacing: 0em;
    }
}

.description {
    @extend .roboto-400;
    color: #334680;
    font-size: 1em;
    line-height: 24px;
    letter-spacing: 0em;
}
