.poppins, .poppins-300, .poppins-500, a, .poppins-700, h4 {
  font-family: "Poppins";
}

.roboto, .roboto-400, .description, .roboto-500, .roboto-700, .company-info .company-name {
  font-family: "Roboto";
}

.uppercase, h4 {
  text-transform: uppercase;
}

.poppins-300 {
  font-weight: 300;
}

.poppins-500, a {
  font-weight: 500;
}

.poppins-700, h4 {
  font-weight: 700;
}

.roboto-400, .description {
  font-weight: 400;
}

.roboto-500 {
  font-weight: 500;
}

.roboto-700, .company-info .company-name {
  font-weight: 700;
}

.poppins, .poppins-300, .poppins-500, a, .poppins-700, h4 {
  font-family: "Poppins";
}

.roboto, .roboto-400, .description, .roboto-500, .roboto-700, .company-info .company-name {
  font-family: "Roboto";
}

.uppercase, h4 {
  text-transform: uppercase;
}

.poppins-300 {
  font-weight: 300;
}

.poppins-500, a {
  font-weight: 500;
}

.poppins-700, h4 {
  font-weight: 700;
}

.roboto-400, .description {
  font-weight: 400;
}

.roboto-500 {
  font-weight: 500;
}

.roboto-700, .company-info .company-name {
  font-weight: 700;
}

h4 {
  color: #b9bdcf;
  font-size: 1em;
}

button {
  cursor: pointer;
  border: 0;
}

a {
  text-decoration: none;
  color: #1e86ff;
}

.material-icon, .icon-input::before {
  font-family: "Material Icons";
  font-size: 20px;
  font-weight: 400;
}

.horizontal-flip {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.hidden {
  display: none !important;
}

.icon-input::before {
  content: attr(icon);
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 14px;
  color: #b9bdcf;
}

.left-column {
  width: 40%;
}

#go-back-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.how-to-apply {
  max-width: 320px;
}

@media (max-width: 500px) {
  .how-to-apply {
    font-size: 0.9em;
  }
}

#top-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#top-section #job-position {
  margin-bottom: 10px;
  color: #334680;
  margin-top: 10px;
}

@media (max-width: 500px) {
  #top-section {
    margin-bottom: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #top-section #job-position {
    line-height: 1em;
    margin-bottom: 0;
  }
  #top-section .job-type {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.company-info {
  margin: 32px 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: "img company-name" "img company-location";
  -webkit-column-gap: 12px;
          column-gap: 12px;
}

.company-info .company-logo {
  border-radius: 4px;
  width: 64px;
  height: 64px;
}

.company-info .company-name {
  font-size: 1.2em;
  line-height: 21px;
  letter-spacing: 0em;
}

.description {
  color: #334680;
  font-size: 1em;
  line-height: 24px;
  letter-spacing: 0em;
}
