@import './components/index';
@import './../../global';

main {
    width: 40vw;
    margin: auto;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
    // margin: auto;
}