@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import './components/index';
@import './../../global';

main {
    width: 40vw;
    margin: auto;
    margin-bottom: 100px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
    // margin: auto;
}

.section {
    display: flex;
    gap: 10px;
}