.poppins, .poppins-300, .poppins-500, a, .check-input-container label, .poppins-700, h4 {
  font-family: "Poppins";
}

.roboto, .roboto-400, .roboto-500, .roboto-700 {
  font-family: "Roboto";
}

.uppercase, h4 {
  text-transform: uppercase;
}

.poppins-300 {
  font-weight: 300;
}

.poppins-500, a, .check-input-container label {
  font-weight: 500;
}

.poppins-700, h4 {
  font-weight: 700;
}

.roboto-400 {
  font-weight: 400;
}

.roboto-500 {
  font-weight: 500;
}

.roboto-700 {
  font-weight: 700;
}

.poppins, .poppins-300, .poppins-500, a, .check-input-container label, .poppins-700, h4 {
  font-family: "Poppins";
}

.roboto, .roboto-400, .roboto-500, .roboto-700 {
  font-family: "Roboto";
}

.uppercase, h4 {
  text-transform: uppercase;
}

.poppins-300 {
  font-weight: 300;
}

.poppins-500, a, .check-input-container label {
  font-weight: 500;
}

.poppins-700, h4 {
  font-weight: 700;
}

.roboto-400 {
  font-weight: 400;
}

.roboto-500 {
  font-weight: 500;
}

.roboto-700 {
  font-weight: 700;
}

h4 {
  color: #b9bdcf;
  font-size: 1em;
}

button {
  cursor: pointer;
  border: 0;
}

a {
  text-decoration: none;
  color: #1e86ff;
}

.material-icon {
  font-family: "Material Icons";
  font-size: 20px;
  font-weight: 400;
}

.horizontal-flip {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.hidden {
  display: none !important;
}

.check-input-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.check-input-container input {
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin: 0;
  margin-right: 10px;
}

.check-input-container label {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 0.9em;
  color: #334680;
}
