@import "./../base/index";

.check-input-container {
    display: inline-flex;
    align-items: center;

    input {
        border: none;
        border-radius: 2px;
        cursor: pointer;
        margin: 0;
        margin-right: 10px;
    }

    label {
        @extend .poppins-500;
        height: fit-content;
        font-size: 0.9em;
        color: #334680;

        @include mobile {
            // font-size: 1em;
        }
    }
}
