@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "./../styles/base/typography";
@import "./../styles/abstract/atomic-styles";
@import "./../styles/media-queries";

#input-element {
    // background-color: red;
    @extend .flex--column, .montserrat;
    width: 100%;
    position: relative;
    margin-bottom: var(--margin-bottom);
    .label {
        @extend .fw-600;
        font-size: var(--label-font-size);
        color: var(--label-color);
        margin-bottom: 4px;
    }

    div {
        // color: red;
        position: relative;
        width: 100%;
        // background-color: blue;
        .input {
            @extend .montserrat-600;
            padding: 18px 12px 18px 12px;
            // padding: var(--padding, 18px 12px 18px 12px);
            font-size: var(--input-font-size, 14px);
            border-radius: var(--border-radius);
            height: fit-content;
            width: 100%;
            border: var(--border-width) solid var(--border-color);
            box-sizing: border-box;
            background-color: var(--background-color);
            color: #333333;

            resize: none;
        }

        .input-icon {
            --height: 20px;
            font-size: var(--height);
            position: absolute;
            bottom: calc(50% - var(--height) / 2);
            // background-color: red;
            left: 12px;
            color: var(--icon-color);
        }
    }

    #start-icon ~ input {
        padding-left: calc(3% + 30px);
        @include desktop {
            padding-left: 38px;
        }
    }
    #end-icon {
        // text-align: end;
        left: auto !important;
        right: 2% !important;
    }
}

#input-element:not([disabled]):hover {
    .label {
        // color: var(--hover-label-color);
        --label-color: var(--hover-label-color);
    }
    .input {
        --border-width: var(--hover-border-width);
        --border-color: var(--hover-border-color);
    }
}

#input-element:not([disabled]):focus-within {
    .input {
        --border-color: var(--focus-border-color) !important;
        --border-width: var(--focus-border-width) !important;
        outline: none;
        // border-color: var(--focus-border-color);
    }

    .label {
        --label-color: var(--focus-label-color) !important;
        // color: var(--focus-label-color);
    }
}

.full-width {
    width: 100% !important;
}
