input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    @extend .montserrat-600;
    -moz-appearance: textfield;
    text-align: center;
}

input[type="submit"] {
    cursor: pointer;
}

button {
    border: none;
    cursor: pointer;
}
