@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import './../../global';
@import './abstract/index';
@import './base/index';
@import './components/index';

:root {
    font-size: 16px;
}

* {
    font-family: Montserrat;
}

body {
    padding-right: 12px;
    padding-left: 12px;
    overflow-x: hidden;
    // background-color: blue;
}

h1 {
    @extend .fw-600;
    color: #4E5150;
    font-size: 1.8rem;
}
h3 {
    @extend .fw-600;
    color: #333333;
    font-size: 1.3rem;
}

.price::before {
    content: '$';
}

.material-icons {
    // pointer-events: fill;
}

.items-container {
    @extend .flex--column;
    background-color: #F2F2F2;
    padding: 26px;
    border-radius: 12px;
    margin-bottom: 40px;

    .pricing {
        @extend .flex--column;
        margin-top: 80px;
        
        .pricing-item {
            @extend .flex;
            padding-top: 8px;
            margin-bottom: 8px;
            justify-content: space-between;
            border-top: 1px solid #BDBDBD;

            span {
                @extend .fw-600;
                color: #333333;
                font-size: .8rem;
            }
        }
    }
}

.item {
    @extend .grid;
    grid-template-columns: min-content auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "preview name"
        "preview price"
        "preview incrementor";
    margin-bottom: 18px;
    column-gap: 18px;

    .product-preview-img {
        border-radius: 13px;
        width: 120px;
        grid-area: preview;
    }
    .name {
        grid-area: name;        
    }
    .price-container {
        @extend .fw-600;
        grid-area: price;

        .last-price {
            @extend .color--orange;
            font-size: .8rem;
        }
        .normal-price {
            color: #4E5150;
            font-size: .65rem;
            text-decoration: line-through;
        }
    }
    .incrementor-container {
        @extend .flex;
        grid-area: incrementor;
        align-items: center;
        justify-content: center;
        gap: 5px;
        border: 1px solid black;
        border-radius: 12px;
        padding: 14px 6px;
        box-sizing: border-box;
        height: 50px;

        input {
            width: 40px;
            color: #333333;
            background: none;
            border: none
        }

        .icon-container {
            background-color: #E0E0E0;
            // remove button styles
            @extend .btn-reset;
            .material-icons {
                font-size: 1rem;
                color: #828282;
            }
        }
    }
}

// form
#info {
    @extend .flex--column;
    align-items: flex-end;
}
#contact-info, #shipping-info {
    width: 100%;
}

.side-inputs {
    @extend .grid;
    // background-color: red;
    grid-template-columns: repeat(2, auto);
    column-gap: 10px;
}


#save-info-container {
    @extend .flex;
    align-items: center;

    #save-info-input {
        margin-right: 8px;
    }
    
    #save-info-label {
        @extend .fw-600;        
        color: #4F4F4F;
        font-size: .7rem;
    }    
}

// submit button
.button {
    @extend .fw-600;
    background-color: #F2994A;
    color: white;
    padding: 17px 45px;
    border: none;
    border-radius: 12px;
    width: fit-content; 
    font-family: Montserrat;   
    font-style: 1rem;
}