@import "./../../global";
@import "./abstract/index";
@import "./base/index";
@import "./components/index";
@import "./media-queries";
@import "./overrides";

:root {
    font-size: 16px;
    @extend .montserrat;

    @include desktop {
        font-size: 18px;
    }
}

body {
    padding-right: 12px;
    padding-left: 12px;
    overflow-x: hidden;

    @include desktop {
        margin: auto;
        width: 68vw;
        margin-top: 40px;
    }
    // background-color: blue;
}

h1 {
    @extend .fw-600;
    color: #4e5150;
    font-size: 1.8rem;
}
h3 {
    @extend .fw-600;
    color: #333333;
    font-size: 1.3rem;
}

.price::before {
    content: "$";
}

main {
    @include desktop {
        display: grid;
        grid-template-columns: auto 10% auto;
        grid-template-rows: auto;
        grid-template-areas: "form . pricing";
        // column-gap: 20px;
    }
}

.items-container {
    @extend .flex--column;
    grid-area: pricing;
    background-color: #f2f2f2;
    height: fit-content;
    padding: 26px;
    border-radius: 12px;
    margin-bottom: 40px;

    .pricing {
        @extend .flex--column;
        margin-top: 80px;

        .pricing-item {
            @extend .flex;
            padding-top: 8px;
            margin-bottom: 8px;
            justify-content: space-between;
            border-top: 1px solid #bdbdbd;

            .price-detail {
                font-size: 0.9em;
            }
            .price {
                font-size: 0.85em;
            }

            span {
                @extend .fw-600;
                color: #333333;
                font-size: 0.8rem;
            }
        }
    }
}

.item {
    @extend .grid;
    grid-template-columns: min-content auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "preview name"
        "preview price"
        "preview incrementor";
    margin-bottom: 18px;
    column-gap: 18px;

    .product-preview-img {
        border-radius: 13px;
        width: 120px;
        grid-area: preview;
    }
    .name {
        grid-area: name;
    }
    .price-container {
        @extend .fw-600;
        grid-area: price;

        .last-price {
            @extend .color--orange;
            font-size: 0.95rem;
        }
        .normal-price {
            color: #4e5150;
            font-size: 0.72rem;
            text-decoration: line-through;
        }
    }
    .incrementor-container {
        @extend .flex;
        grid-area: incrementor;
        align-items: center;
        justify-content: center;
        gap: 5px;
        border: 1px solid black;
        border-radius: 12px;
        padding: 14px 6px;
        box-sizing: border-box;
        height: 50px;

        input {
            width: 40px;
            color: #333333;
            background: none;
            border: none;
        }

        .icon-container {
            background-color: #e0e0e0;
            .material-icons {
                font-size: 1.4em;
                // line-height: 1rem;
                color: #828282;
            }
        }
    }
}

// form
#info-form {
    @extend .flex--column;
    align-items: flex-end;
}
#contact-info,
#shipping-info {
    width: 100%;
}

.side-inputs {
    @extend .grid;
    // background-color: red;
    grid-template-columns: repeat(2, auto);
    column-gap: 10px;
}

#save-info-container {
    @extend .flex;
    align-items: center;

    #save-info-input {
        margin-right: 8px;
    }

    #save-info-label {
        @extend .fw-600;
        color: #4f4f4f;
        font-size: 0.7rem;
    }
}

// submit button
.button {
    @extend .montserrat-600;
    background-color: #f2994a;
    color: white;
    padding: 17px 45px;
    border: none;
    border-radius: 12px;
    width: fit-content;
    font-style: 1rem;
}
