.credit {
    // width: fit-content;
    // margin: auto;
    
    // position: absolute;
    // bottom: 10px;
    // left: 0;
    // right: 0;

    font-size: .7rem;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;    
}