.quote {
    // display: block;
    --yellow-line-outset: 60px;
    --content-padding: 20px;
    width: fit-content;
    font-size: 1em;
}

.quote__content, .quote__author {
    padding-left: var(--content-padding);
}

.quote__content {
    font-size: 2em;
    max-width: 600px;
    position: relative;
    
    &::before {
        content: '';
        display: block;
        background-color: #F7DF94;
        width: 8px;

        position: absolute;
        top: 0;
        bottom: 0;
        z-index: -1;
        left: calc(-1 * var(--yellow-line-outset));
    }
}
.quote__author {
    --name-color: #4F4F4F;
    @extend .flex--column;
    
    flex-wrap: wrap;
    justify-content: center;

    height: 50px;
    width: 100%;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: var(--content-padding);
    cursor: pointer;
    
    transition: all .3s;
    
    &:hover {
        background-color: #333333;

        .icon {
            display: inline;
            opacity: 1;
        }
        --name-color: #F2F2F2;
    }
}
.quote__author__name {
    width: fit-content;
    color: var(--name-color);
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 6px;
}
.quote__author__genre {
    width: fit-content;
    color: #828282;
    font-size: .8em;
    font-weight: 500;
}

.quote__author__next-icon {
    align-self: flex-end;
    display: none;
    opacity: 0;
    width: fit-content;
    transition: all .4s;
    color: white;
}