@import "./base/index";
@import "./components/index";

:root {
    font-size: 18px;
}
html {
    margin: 0;
}
body {
    background: #f2f2f2;
    margin: 0;
    padding: 40px;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
