.montserrat, .montserrat-500, .tag, .personal-info-card .personal-info-card__name-container .personal-info-card__job, .personal-info-card .personal-info-card__description, .project-card .project-card__project-title, .project-card .project-card__project-description, .btn, .btn--primary, .btn--secondary, .montserrat-600, .personal-info-card .personal-info-card__name-container .personal-info-card__name, .montserrat-700, * {
  font-family: "Montserrat";
}

.montserrat-500, .tag, .personal-info-card .personal-info-card__name-container .personal-info-card__job, .personal-info-card .personal-info-card__description, .project-card .project-card__project-title, .project-card .project-card__project-description, .btn, .btn--primary, .btn--secondary {
  font-weight: 500;
}

.montserrat-600, .personal-info-card .personal-info-card__name-container .personal-info-card__name {
  font-weight: 600;
}

.montserrat-700 {
  font-weight: 700;
}

.material-icons, span[data-icon]::before {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: "liga";
          font-feature-settings: "liga";
}

.flex, .flex--column, .personal-info-card, .personal-info-card .personal-info-card__name-container, .personal-info-card .personal-info-card__contact, #projects-section, #projects-section #projects-container, #projects-section .heading-container, .project-card #tags-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex--column, .personal-info-card, .personal-info-card .personal-info-card__name-container, .personal-info-card .personal-info-card__contact, #projects-section, #projects-section #projects-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

span[data-icon] {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

span[data-icon]::before {
  content: attr(data-icon);
  font-size: 18px;
}

.card, .personal-info-card, .project-card {
  padding: 22px;
  background-color: white;
  border-radius: 12px;
}

.tag {
  color: #4f4f4f;
  font-size: 0.9em;
  line-height: 20px;
  letter-spacing: 0em;
}

.tag::before {
  content: "#";
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: unset;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

a:hover {
  color: #1d6bda;
}

.personal-info-card {
  max-width: 300px;
  gap: 10px;
}

.personal-info-card .person-info-card__image {
  width: 100%;
}

.personal-info-card .personal-info-card__name-container .personal-info-card__name {
  color: #4f4f4f;
  font-size: 1.2em;
}

.personal-info-card .personal-info-card__name-container .personal-info-card__job {
  color: #828282;
}

.personal-info-card .personal-info-card__contact {
  gap: 4px;
  color: #4f4f4f;
}

.personal-info-card .personal-info-card__description {
  color: #828282;
}

#projects-section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  gap: 10px;
}

#projects-section .heading-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projects-section .heading-container .section__heading {
  font-size: 1.1rem;
  line-height: 22px;
  margin-bottom: 0;
}

#projects-section #projects-container {
  gap: 20px;
}

.project-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(auto, 300px) auto;
      grid-template-columns: minmax(auto, 300px) auto;
  -ms-grid-rows: (auto)[4];
      grid-template-rows: repeat(4, auto);
      grid-template-areas: "img tags" "img title" "img description" "img buttons";
  height: 240px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.project-card .project-card__preview {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  grid-area: img;
  height: 100%;
}

.project-card #tags-container {
  gap: 10px;
}

.project-card .project-card__project-title {
  font-size: 1.4em;
  line-height: 29px;
  letter-spacing: 0em;
  color: #333333;
  margin: 0 !important;
}

.project-card .project-card__project-description {
  font-size: 1em;
  line-height: 20px;
  letter-spacing: 0em;
  color: #828282;
  max-width: 90%;
}

.project-card .project-card__buttons-container {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 10px;
}

.btn, .btn--primary, .btn--secondary {
  --background: white;
  --color: #5c94e1;
  --hover-color: white;
  --hover-background: #5c94e1;
  color: var(--color);
  background-color: var(--background);
  border-radius: 12px;
  padding: 7px 18px;
  border: 1px solid #5c94e1;
  font-size: 1em;
  line-height: 22px;
  letter-spacing: 0em;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.btn:hover, .btn--primary:hover, .btn--secondary:hover {
  background-color: var(--hover-background);
  color: var(--hover-color);
}

.btn--primary {
  --background: #5c94e1;
  --color: white;
  --hover-color: white;
  --hover-background: #375a8b;
}

.btn--secondary {
  --color: #5c94e1;
  --background: white;
  --hover-color: #3571c4;
  --hover-background: #e0edff;
}

:root {
  font-size: 16px;
}

html {
  margin: 0;
}

body {
  background: #f2f2f2;
  margin: 0;
  padding: 40px;
}
