.project-card {
    @extend .card;
    display: grid;
    grid-template-columns: fit-content auto;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
        "img tags"
        "img title"
        "img description"
        "img buttons";
    height: 200px;
    column-gap: 10px;

    .project-card__preview {
        grid-area: img;
        // height: 250px;
        height: 100%;
        margin-right: 10px;
    }
    #tags-container {
        @extend .flex;
        gap: 10px;
    }
    .project-card__project-title {
        @extend .montserrat-500;
        font-size: 1.4em;
        line-height: 29px;
        letter-spacing: 0em;
        color: #333333;
        margin: 0 !important;
    }

    .project-card__project-description {
        @extend .montserrat-500;
        font-size: 1em;
        line-height: 20px;
        letter-spacing: 0em;
        color: #828282;
        max-width: 90%;
    }
    .project-card__buttons-container {
        align-self: flex-end;
        margin-bottom: 10px;
    }
}
