#projects-section {
    // background-color: red;
    flex: 1;
    .section__heading {
        @extend .montserrat-500;
        font-size: 1.1rem;
        line-height: 22px;
        color: #4f4f4f;
        margin-top: 0;
    }
}
