.project-card {
    @extend .card;
    display: grid;
    grid-template-columns: 240px auto;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
        "img tags"
        "img title"
        "img description"
        "img buttons";
    height: 240px;

    .project-card__preview {
        grid-area: img;
        // height: 250px;
        width: 100%;
    }
    .project-card__project-title {
        @extend .montserrat-500;
        font-size: 1.4em;
        line-height: 29px;
        letter-spacing: 0em;
        color: #333333;
        margin: 0 !important;
    }

    .project-card__project-description {
        @extend .montserrat-500;
        font-size: 1em;
        line-height: 20px;
        letter-spacing: 0em;
        color: #828282;
    }
}
