#projects-section {
    // background-color: red;
    @extend .flex--column;
    flex: 1;
    gap: 10px;
    background: none;
    padding: 0;
    box-shadow: none !important;

    .heading-container {
        @extend .flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 20px;

        .section__heading {
            font-size: 1.1rem;
            line-height: 22px;
            margin-bottom: 0;
        }
    }

    #projects-container {
        @extend .flex--column;
        gap: 20px;
    }
}
