@import './../../global';
@import './abstracts/abstracts-dir';

* {
    box-sizing: border-box;
}

body {
    @extend .flex--column--h-center;
    margin: 0;

    font-family: "Montserrat";
    padding-top: 40px;
}

.account {
    @extend .flex--column--h-center;
    margin-bottom: 20px;
}

.account__profile-pic {
    @include square(140px);
    border-radius: 50px;
}
.account__name {
    color: #4E5150;
    display: block;
    margin-bottom: 6px;
    margin-top: 10px;
    font-size: 1.4em;

    @include mobile {
        font-size: 1.2em;
    }
}
.account__location {
    font-weight: 600;
    color: #A9A9A9;
    font-size: .9em;

    @include mobile {
        font-size: .8em;
    }
}
.account__info {
    @extend .flex;
    gap: 20px;
    margin-top: 20px;
}
.account__info__container {
    @extend .flex--column--h-center;
    background-color: #E5E5E5;
    padding: 14px;
    border-radius: 16px;
    color: #4E5150;
    min-width: 100px;
    max-height: 72px;
    font-size: 16px;

    .count {
        font-weight: 600;
        font-size: 1em;
    }
    .detail {
        font-size: .8em;
        text-transform: capitalize;
    }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(3, 30%);
    grid-template-areas:
        "pic1 pic2 pic2"
        "pic3 pic3 pic4"
        "pic6 pic5 pic4";
    width: 60vw;
    gap: 18px;
    justify-content: center;
    align-items: center;

    @include desktop {
        margin-top: 40px;
    }

    @include mobile {
        width: 90vw;
    }
    @include desktop {
        width: 92vw;
    }
}
.gallery__image {
    // width: 100%;
    width: 100%;    
    border-radius: 20px;
}

@for $i from 1 to 7 {
    #photo#{$i} {
        grid-area: pic#{$i};
    }
}