@import "./typography";
@import "./variables";
@import "./overrides";

.material-icon {
    font-family: "Material Icons";
    font-size: 20px;
    font-weight: 400;
}

.horizontal-flip {
    transform: scaleX(-1);
}

.hidden {
    display: none !important;
}
