@import "./typography";

h1 {
    // display: inline-block;
}

h4 {
    @extend .uppercase, .poppins-700;
    color: #b9bdcf;
    font-size: 1em;
}

button {
    cursor: pointer;
    border: 0;
}

a {
    @extend .poppins-500;
    text-decoration: none;
    color: #1e86ff;
}
