@import "./media-queries";
@import "./atomic";

h2 {
    @extend .lora-400;
    font-size: 3em;
    // line-height: 61px;
    letter-spacing: 0em;

    @include mobile {
        margin: 25px 0;
    }
}

p {
    @extend .montserrat-300;
    font-size: 1.2em;
    // line-height: 29px;
    letter-spacing: 0em;

    @include mobile {
        margin-top: 0;
        // font-size: 0.88rem;
        // line-height: 17px;
    }
}

a {
    text-decoration: none;
    color: inherit;
}
