.crimson-pro, .crimson-pro-200, .logo {
  font-family: "Crimson Pro";
}

.lora, .lora-400, h2, .lora-700, .designer-card .designer-card--description {
  font-family: "Lora";
}

.montserrat, .montserrat-300, p, .montserrat-500, .designer-card .designer-card--info .designer-card--name, .designer-card .designer-card--info .designer-card--occupation, nav .nav-link, .montserrat-600, main #read-more, footer.credit, .montserrat-700, nav .nav-link.selected {
  font-family: "Montserrat";
}

.crimson-pro-200, .logo {
  font-weight: 200;
}

.lora-400, h2 {
  font-weight: 400;
}

.lora-700, .designer-card .designer-card--description {
  font-weight: 700;
}

.montserrat-300, p {
  font-weight: 300;
}

.montserrat-500, .designer-card .designer-card--info .designer-card--name, .designer-card .designer-card--info .designer-card--occupation, nav .nav-link {
  font-weight: 500;
}

.montserrat-600, main #read-more, footer.credit {
  font-weight: 600;
}

.montserrat-700, nav .nav-link.selected {
  font-weight: 700;
}

.uppercase, .logo {
  text-transform: uppercase;
}

.capitalize, .designer-card .designer-card--info .designer-card--name, nav .nav-link {
  text-transform: capitalize;
}

.uppercase, .logo {
  text-transform: uppercase;
}

.capitalize, .designer-card .designer-card--info .designer-card--name, nav .nav-link {
  text-transform: capitalize;
}

h2 {
  font-size: 3em;
  letter-spacing: 0em;
}

@media (max-width: 750px) {
  h2 {
    margin: 25px 0;
  }
}

p {
  font-size: 1.2em;
  letter-spacing: 0em;
}

@media (max-width: 750px) {
  p {
    margin-top: 0;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.uppercase, .logo {
  text-transform: uppercase;
}

.capitalize, .designer-card .designer-card--info .designer-card--name, nav .nav-link {
  text-transform: capitalize;
}

.designer-card {
  padding: 18px 30px;
  background-color: #181719;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 410px;
}

@media (max-width: 750px) {
  .designer-card {
    max-width: 280px;
  }
  .designer-card .designer-card--info {
    max-height: 60px;
    margin-bottom: 12px;
  }
  .designer-card .designer-card--info .designer-card--image {
    width: 36px;
    height: 36px;
  }
}

.designer-card .designer-card--info {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: "dc-pic dc-name" "dc-pic dc-occupation";
  -webkit-column-gap: 12px;
          column-gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.designer-card .designer-card--info .designer-card--image {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: dc-pic;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.designer-card .designer-card--info .designer-card--name {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: dc-name;
  font-size: 1em;
}

.designer-card .designer-card--info .designer-card--occupation {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: dc-occupation;
  color: #828282;
  font-size: 0.8em;
}

.designer-card .designer-card--description {
  font-size: 1.4em;
}

html {
  margin: 0;
  border: 0;
  padding: 0;
  height: 100vh;
}

body {
  background-color: #181719;
  color: #ffffff;
  margin: 0 auto;
  width: 90vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 750px) {
  body {
    padding-left: 14px;
    padding-right: 14px;
    width: auto;
    font-size: 14px;
  }
}

* {
  overflow-x: hidden;
  border: 0;
}

.logo {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid white;
  padding: 8px;
}

#nav-icon {
  display: none;
}

@media (max-width: 750px) {
  #nav-icon {
    display: block;
    position: relative;
    z-index: 10;
  }
}

#nav-icon::after {
  content: "menu";
  font-family: "Material Icons";
  font-size: 28px;
}

body[nav-toggled="true"] #nav-icon::after {
  content: "close";
}

body[nav-toggled="true"] #nav-link-container {
  z-index: 7;
  opacity: 1;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 4vh;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
          column-gap: 32px;
}

nav .nav-link {
  font-size: 1.2em;
  line-height: 22px;
  letter-spacing: 0em;
  overflow: hidden;
}

@media (max-width: 750px) {
  #nav-link-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 36px;
    text-align: center;
    height: 100vh;
    font-size: 20px;
    background-color: #181719;
    opacity: 0;
  }
}

main {
  background-color: #181719;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 64%;
      grid-template-columns: auto 64%;
  -ms-grid-rows: (auto)[4];
      grid-template-rows: repeat(4, auto);
      grid-template-areas: "heading image-box" "description image-box" "read-more image-box" ". image-box";
  margin-top: 40px;
}

@media (max-width: 750px) {
  main {
    margin-top: 12px;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: (auto)[4];
        grid-template-rows: repeat(4, auto);
        grid-template-areas: "heading" "description" "read-more" "image-box";
  }
}

main h2 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: heading;
}

main p {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: description;
  max-width: 90%;
}

@media (max-width: 750px) {
  main p {
    max-width: 74%;
  }
}

main #read-more {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: read-more;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.1em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 750px) {
  main #read-more {
    margin-top: 20px;
    margin-bottom: 36px;
    font-size: 0.88em;
  }
}

main #read-more i.material-icons {
  vertical-align: middle;
  margin-left: 6px;
}

@media (max-width: 750px) {
  main #read-more i.material-icons {
    margin-left: 10px;
  }
}

main #second-column {
  height: 100%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 2;
  grid-area: image-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main #second-column #big-image {
  width: 90%;
}

main #second-column .designer-card {
  position: relative;
  top: -10%;
  left: -10%;
}

@media (max-width: 750px) {
  main #second-column #big-image {
    width: 100%;
  }
  main #second-column .designer-card {
    left: -10px;
  }
}

footer.credit {
  color: #a9a9a9;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 6px 18px;
  font-size: 0.9em;
  text-align: center;
  margin-top: auto;
  margin-bottom: 10px;
}

@media (max-width: 750px) {
  footer.credit {
    border-top: 1px solid #a9a9a9;
  }
}
