* {
    font: inherit;
    color: inherit;
    box-sizing: border-box;
    font-family: "Poppins";
}

:root {
    font-size: 18px;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.btn {
    border-radius: 100px;
    /* border: none; */
    padding: 6px 20px;
}

.btn--secondary {
    padding: 6px 25px;
}

body {
    width: 80vw;
    margin: auto;
    margin-top: 24px;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    gap: 80px;
}

header nav {
    display: flex;
    gap: 32px;
}

header nav .nav--link {
    color: #bdbdbd;
    font-weight: 500;
}

header nav .nav--link.selected {
    color: #333333;
}

header #get-started {
    --angle: 270deg;
    margin-left: auto;
    border: none;
    color: white;
    font-size: 1em;
    font-weight: 500;
    background: linear-gradient(
        var(--angle),
        #faa245 0%,
        #d8328a 30%,
        #753872 100%
    );
}

main {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "heading img" "description img" "cta img" ". img";
    margin-top: 8vh;
}

main #heading {
    grid-area: heading;
    font-family: Poppins;
    font-weight: 600;
    font-size: 3em;
    line-height: 78px;
    max-width: 60%;
    margin-bottom: 0;
}

main #description {
    grid-area: description;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    color: #828282;
    max-width: 60%;
    margin-bottom: 25px;
}

main #discover-video-button {
    grid-area: cta;
    border: 1px solid #e0e0e0;
    width: fit-content;
    width: -moz-fit-content;
    background: -webkit-linear-gradient(
        270deg,
        #faa245 0%,
        #d8328a 30%,
        #753872 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main #discover-video-button i {
    margin-right: 8px;
    background: inherit;
}

main #hero-img {
    grid-area: img;
}

footer {
    display: flex;
    gap: 20px;
    position: absolute;
    bottom: 18px;
}

footer i {
    font-size: 24px;
    color: #bdbdbd;
}
