@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import './components/button';
@import './../../global';

.button-container {
    display: flex;
    flex-direction: column;
    width: 60vw;
    gap: 10px;
    margin: auto;
    padding-bottom: 40px;
}

.icon-buttons {
    // background-color: red;
    display: flex;
    gap: 10px;
    // align-items: center;
}