@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
.button, .button--outline, .button--text {
  --default-bg: #E0E0E0;
  --default-color: #3F3F3F;
  --primary-bg: #2962FF;
  --primary-color: #3D5AFE;
  --secondary-bg: #455A64;
  --danger-bg: #D32F2F;
  --color: #FFFFFF;
  --disabled-color: #9E9E9E;
  border: none;
  display: inline-block;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  font-family: "Noto Sans JP";
  font-size: 14px;
  padding: 8px 16px;
  -webkit-box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
          box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
  border-radius: 6px;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--bg);
}

.button:disabled, .button--outline:disabled, .button--text:disabled {
  cursor: not-allowed;
}

.disableShadow, .button--text {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.button--outline {
  border: 1px solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
}

.button--text {
  background-color: transparent;
  color: var(--primary-color);
}

.button--text:disabled {
  color: var(--disabled-color);
}

.button[startIcon], .button--outline[startIcon], .button--text[startIcon], .button[endIcon], .button--outline[endIcon], .button--text[endIcon] {
  background-color: var(--primary-bg);
  color: var(--color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button[startIcon]::before, .button--outline[startIcon]::before, .button--text[startIcon]::before, .button[endIcon]::after, .button--outline[endIcon]::after, .button--text[endIcon]::after {
  font-size: 18px;
  font-family: "Material Icons";
}

.button[startIcon]::before, .button--outline[startIcon]::before, .button--text[startIcon]::before {
  content: attr(startIcon);
  margin-right: 6px;
}

.button[endIcon]::after, .button--outline[endIcon]::after, .button--text[endIcon]::after {
  content: attr(endIcon);
  margin-left: 6px;
}

.button[size="sm"], .button--outline[size="sm"], .button--text[size="sm"] {
  padding: 6px 12px;
}

.button[size="md"], .button--outline[size="md"], .button--text[size="md"] {
  padding: 8px 16px;
}

.button[size="lg"], .button--outline[size="lg"], .button--text[size="lg"] {
  padding: 11px 22px;
}

.button, .button--outline, .button--text, .button[color="default"], .button--outline[color="default"], .button--text[color="default"] {
  --bg: var(--default-bg);
}

.button[color="primary"], .button--outline[color="primary"], .button--text[color="primary"] {
  --bg: var(--primary-bg);
}

.button[color="secondary"], .button--outline[color="secondary"], .button--text[color="secondary"] {
  --bg: var(--secondary-bg);
}

.button[color="danger"], .button--outline[color="danger"], .button--text[color="danger"] {
  --bg: var(--danger-bg);
}

.button[color="primary"], .button--outline[color="primary"], .button--text[color="primary"], .button[color="secondary"], .button--outline[color="secondary"], .button--text[color="secondary"], .button[color="danger"], .button--outline[color="danger"], .button--text[color="danger"] {
  color: var(--color);
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60vw;
  gap: 10px;
  margin: auto;
}
