@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import './../../global';
@import './base/index';
@import './abstracts/index';
@import './components/index';

body {
    margin: 20px;
    font-size: 16px;
}

main {
    // use grid
    min-height: 100vh;

    @include desktop {
        width: 80vw;
        max-width: 1100px;
        margin: auto;
    }
}
#hero-image {
    width: 100%;
    margin-top: 40px;
}

.recipe_title {
    @extend .font__playfair-display;
    font-weight: bold;
    font-size: 3rem;
    
    margin-top: 52px;
    margin-bottom: 12px;
    
    @include mobile {
        margin-top: 20px;
        font-size: 1.8rem;
    }
}

.recipe_description {
    @extend  .flex, .font__montserrat;
    font-style: italic;
    font-size: 0.875rem;
    width: 600px;
    max-width: 100%;
    gap: 10px;
    align-items: flex-start;

    @include mobile {
        font-size: .75rem;
    }

    #dot-icon {
        margin-top: 3px;

        @include desktop {
            width: 3vw;
            max-width: 48px;
        }
    }

    .recipe_description_text {
        margin-top: 0px;

        @include mobile {
            max-width: 90%;
        }
    }
}

.section-container {
    display: grid;

    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "details"
    "ingredients"
    "instructions";
    // @include mobile {
    // }

    @include desktop {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "ingredients details"
            "ingredients ."
            "instructions .";
    }

    #recipe_details-section {
        grid-area: details;
    }
    #ingredients-section {
        grid-area: ingredients;
    }
    #instructions-section {
        grid-area: instructions;
    }
}

.recipe_details {
    display: inline-grid;
    gap: 18px;
    // background-color: rgb(136, 115, 115);
    box-sizing: border-box;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);

    grid-template-areas:
        "serving serving serving"
        "prep-time cook-time total-time";

    @include mobile {
        width: 100%;
    }

    @include desktop {
        gap: 40px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
        padding: 40px;
        border-radius: 12px;
        grid-template-columns: auto;
        grid-template-rows: repeat(4, auto);

        grid-template-areas:
            "serving"
            "prep-time"
            "cook-time"
            "total-time";
    }
    
    li {
        display: inline-grid;

        @include desktop {
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
            grid-template-areas:
                "icon category"
                "icon value";
        }

        @include desktop {
            flex-wrap: wrap;
        }
        
        color: #333333;
        .recipe_details-category {
            @extend .font__montserrat, .bold;
            color: #BDBDBD;
            font-size: .5em;
            text-transform: uppercase;

            @include desktop {
                grid-area: category;
                font-size: .75rem;
            }
        }

        .recipe_details-value {
            @extend .font__montserrat;
            font-weight: 500;
            font-size: .75rem;
            
            @include desktop {
                grid-area: value;
                font-size: .85rem;
            }
        }
    }

    li[startIcon="local_dining"] {
        color: $orange !important;
        grid-area: serving;
    }

    li[startIcon]::before {
        content: attr(startIcon);
        font-family: "Material Icons";
        font-size: 24px;
        
        @include desktop {
            grid-area: icon;
            height: 100%;        
            font-size: 28px;
            margin-right: 10px;
        }
    }
}


section {
    .section_title {
        @extend .font__playfair-display, .bold;
        font-size: 1.4rem;
    }
    .section_subtitle {
        @extend .font__playfair-display, .italic;
        color: #333333;
        font-weight: normal;
    }
}

// ul
.checklist {
    li {
        @extend .flex, .font__montserrat;
        align-items: flex-start;
        gap: 10px;
        font-size: .9rem;
        margin-bottom: 10px;

        input {
            cursor: pointer;
        }
    }
}

.reference {
    @extend .font__montserrat, .italic;
    color: #BDBDBD;
    font-size: .75rem;
}