@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
#input-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Noto Sans JP";
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}

#input-element .label {
  font-size: 12px;
  color: var(--label-color);
}

#input-element .input {
  margin: 4px 0px;
  padding: var(--padding, 18px 12px);
  font-size: 14px;
  border-radius: 8px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-family: "Noto Sans JP";
  border: var(--border-width) solid var(--border-color);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--background-color);
  resize: none;
}

#input-element .helper-text {
  color: var(--helper-text-color);
  font-size: 10px;
}

#input-element .input-icon {
  position: absolute;
  top: 45%;
  left: 2%;
  color: var(--border-color);
}

#input-element #start-icon ~ input {
  padding-left: calc(2% + 24px);
}

#input-element #end-icon {
  left: auto !important;
  right: 2% !important;
}

#input-element:not([disabled]):hover .label {
  --label-color: var(--hover-label-color);
}

#input-element:not([disabled]):hover .input {
  --border-width: var(--hover-border-width);
  --border-color: var(--hover-border-color);
}

#input-element:not([disabled]):focus-within .input {
  --border-color: var(--focus-border-color) !important;
  --border-width: var(--focus-border-width) !important;
}

#input-element:not([disabled]):focus-within .label {
  --label-color: var(--focus-label-color) !important;
}

.full-width {
  width: 100% !important;
}
