$variable-names: border-color, label-color, border-width, background-color, helper-text-color;

input-wc {
    --default-border-color: #828282;
    --default-label-color: #4F4F4F;
    --default-border-width: 1px;
    --default-background-color: #00000000;
    --default-helper-text-color: #828282;
    --border-radius: 12px;
    --padding: 12px 12px 12px 36px;
    --label-font-size: .75rem;
    --icon-color: #828282;
    --input-font-size: .9rem;
    --margin-bottom: 16px;
    
    // hover variables
    // --hover-border-color: #333333;
    // --hover-label-color: #333333;
    // --hover-border-width: 1px;
    
    // focus variables
    // --focus-border-color: #2962FF;
    // --focus-label-color: #2962FF;   
    --focus-border-width: 2px;

    @each $var in $variable-names {
        --#{$var}: var(--default-#{$var});
    }
}

// input-wc[error] {
//     --default-label-color: #D32F2F;
//     --default-border-color: #D32F2F;
//     --default-border-width: 1px;
//     --default-helper-text-color: #D32F2F;
    
//     --hover-label-color: #D32F2F;
//     --hover-border-color: #D32F2F;
//     --hover-border-width: 1px;
    
//     --focus-label-color: #D32F2F;
//     --focus-border-color: #D32F2F;
//     --focus-border-width: 2px;
// }

// input-wc[disabled] {
//     --default-background-color: #F2F2F2;
//     --default-border-color: #E0E0E0;
//     --default-label-color: #828282;
// }

// input-wc[size="sm"] {
//     --padding: 10px 12px;
// }