.person-name {
    color: #333333;
    font-size: 24px;

    @include mobile {
        font-size: 1.4em;
        font-weight: 500;
        line-height: 36px;
    }
}

.person-tag {
    color: #828282;
    font-size: 1rem;

    @include mobile {
        font-size: 0.85em;
        font-style: normal;
        font-weight: 500;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
    }
}

.person-icon {
    border-radius: 24px;
}

.person-icon__small {
    @extend .person-icon;
    width: 82px;
    height: 82px;
}
